@page
@model Tutoring.Pages.NewsCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบ";
}



<h3>คุณต้องการลบ หรือไม ?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            วิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutoringbook.Subject)
        </dd>
        <dt>
            วันที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutoringbook.TutoringbookDate)
        </dd>
        <dt>
            สถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutoringbook.Location)
        </dd>
        <dt>
           เวลา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutoringbook.Number_hour)
        </dd>
        <dt>
            ราคา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutoringbook.price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tutoringbook.TutoringbookID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
