@page
@model Tutoring.Pages.NewsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            วิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutoringbook.Subject)
        </dd>
        <dt>
           วันที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutoringbook.TutoringbookDate)
        </dd>
        <dt>
            สถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutoringbook.Location)
        </dd>
        <dt>
            เวลา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutoringbook.Number_hour)
        </dd>
        <dt>
            ราคา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutoringbook.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tutoringbook.TutoringbookID">แก้ไข</a> |
    <a asp-page="./Index">Back to List</a>
</div>
