@page
@model Tutoring.Pages.NewsCategoryAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไข";
}

<h2>แก้ไข</h2>

<h4>กรอกข้อมูลดังต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tutoringbook.TutoringbookID" />
            <div class="form-group">
                วิชา
                <input asp-for="Tutoringbook.Subject" class="form-control" />
                <span asp-validation-for="Tutoringbook.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                วันที่
                <input asp-for="Tutoringbook.TutoringbookDate" class="form-control" />
                <span asp-validation-for="Tutoringbook.TutoringbookDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานที่
                <input asp-for="Tutoringbook.Location" class="form-control" />
                <span asp-validation-for="Tutoringbook.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                เวลา
                <input asp-for="Tutoringbook.Number_hour" class="form-control" />
                <span asp-validation-for="Tutoringbook.Number_hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                ราคา
                <input asp-for="Tutoringbook.price" class="form-control" />
                <span asp-validation-for="Tutoringbook.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
