@page
@model Tutoring.Pages.NewsCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "เพิ่มการติว";
}

<h2>เพิ่มการติว</h2>

<p>
    <a asp-page="Create">สร้างใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               วิชา
            </th>
            <th>
                วันที่
            </th>
            <th>
               สถานที่
            </th>
            <th>
               เวลา
            </th>
            <th>
               ราคา
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tutoringbook) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutoringbookDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TutoringbookID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.TutoringbookID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.TutoringbookID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
