﻿@page
@model IndexModel
@{
    ViewData["Title"] = "ระบบติวหนังสือ";
}

<div class="jumbotron"style="background-color:#ffccff">
    <center><h2>ระบบติวรายงานการติวหนังสือ</h2><center>
</div>


<div class="row">
    <h3> รายละเอียดการติว </h3>
    <table class="table">
    <thead>
        <tr>
            <th>วิชา</th><th>วันที่</th><th>สถานที่</th> <th>เวลา</th><th>ราคา</th>
        </th>  
        
    </thead>
    <tbody>
@foreach (var item in Model.Tutoringbook) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutoringbookDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
             <td>
        </tr>
}
    </tbody>
</table>
</div>
    